<div class="container">
  <h2 class="mt-5">{{post.title}}</h2>
  <p>{{post.content}}</p>

  <h3 class="mt-5">Comments</h3>
{{#if post.comments.length}}
  <ul class="list-group">
    {{#each post.comments}}
      <li class="list-group-item">{{this}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>No comments yet.</p>
{{/if}}

  <h3 class="mt-5">Add a Comment</h3>
  <form method="POST" action="/post/{{post.id}}/comment" class="mb-5">
    <div class="mb-3">
      <label for="comment" class="form-label">Comment:</label>
      <textarea class="form-control" name="comment" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Comment</button>
  </form>
</div>